.stats-bande {
  margin-bottom: 1rem;
}   

.filtre__rarete {
  margin-bottom: 1rem;
}

.filtre--actif {
  font-weight: bold;
  background-color: #8d35d4 ;
  color: white ;
}

ul.liste-sans-puce {
  list-style-type: none;
}